@import url("https://fonts.googleapis.com/css2?family=Inter+Tight&family=Lato:wght@400;700&family=PT+Serif:ital,wght@0,400;1,700&family=Roboto+Serif:opsz@8..144&family=Roboto:ital,wght@0,300;1,300&display=swap");

#doc-con {
  width: 100%;
  margin-top: 8vw;
}

#doc-head {
  text-align: center;
}

#doc-head h1 {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.9);
  font-family: "Lato", sans-serif;
  margin-bottom: 0.5rem;
}

#doc-head p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  margin-bottom: 1rem;
}

Swiper {
  width: 100%;
  height: 100%;
}
.swiper-wrapper {
  padding: 0vw 2vw;
}
.Scard {
  width: 94%;
  border: 1px solid #ddd;
  padding: 16px;
  margin-bottom: 16px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-family: "Lato", sans-serif;
}

.Scard h2 {
  color: #0067ff;
  text-align: start;
}
.Scard p {
  text-align: start;
}

.Scard img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 600px) {
  .Scard {
    padding: 12px;
    margin: 8px 0;
  }

  .swiper-container {
    overflow: visible;
  }

  #swiper-slide {
    width: 80%;
    border-left: none;
    padding: 0;
  }

  #doc-head h1 {
    font-size: 2rem;
  }

  #doc-head p {
    font-size: 0.875rem;
  }
}
